In [1]:
import pandas as pd
from os import path
from IPython.display import display

In [2]:
file1 = path.join('Arquivos', 'importacao-gas-natural-2000-2022.csv')
file2 = path.join('Arquivos', 'importacoes-exportacoes-derivados-2000-2022.csv')
file3 = path.join('Arquivos', 'importacoes-exportacoes-etanol-2012-2022.csv')
file4 = path.join('Arquivos', 'preços-combustiveis-2004-2021.tsv')
df1 = pd.read_csv(file1, sep=';')
df2 = pd.read_csv(file2, sep=';')
df3 = pd.read_csv(file3, sep=';')
df4 = pd.read_csv(file4, sep='\t')
display(df1.head(3))
display(df2.head(3))
display(df3.head(3))
display(df4.head(3))

FileNotFoundError: [Errno 2] No such file or directory: 'Arquivos\\importacao-gas-natural-2000-2022.csv'

In [ ]:
df1.drop(df1[df1['OPERAÇÃO COMERCIAL'] == 'EXPORTAÇÃO'].index, inplace=True)
df2.drop(df2[df2['OPERAÇÃO COMERCIAL'] == 'EXPORTAÇÃO'].index, inplace=True)
df3.drop(df3[df3['OPERAÇÃO COMERCIAL'] == 'EXPORTAÇÃO'].index, inplace=True)
display(df1['OPERAÇÃO COMERCIAL'].unique())
display(df2['OPERAÇÃO COMERCIAL'].unique())
display(df3['OPERAÇÃO COMERCIAL'].unique())
df1.drop('OPERAÇÃO COMERCIAL', axis=1, inplace=True)
df2.drop('OPERAÇÃO COMERCIAL', axis=1, inplace=True)
df3.drop('OPERAÇÃO COMERCIAL', axis=1, inplace=True)

array(['IMPORTAÇÃO'], dtype=object)

array(['IMPORTAÇÃO'], dtype=object)

array(['IMPORTAÇÃO'], dtype=object)

In [ ]:
df1.replace({'GÁS NATURAL': 'GNV'}, inplace=True)
df1['IMPORTADO'] *= 1000
df2.drop(df2[~df2['PRODUTO'].isin(['GASOLINA A', 'GLP', 'ÓLEO DIESEL'])].index, inplace=True)
df3.drop(df3[df3['PRODUTO'] != 'ETANOL HIDRATADO'].index, inplace=True)
df4.replace(regex={'OLEO': 'ÓLEO'}, inplace=True)
display(df1['PRODUTO'].unique())
display(df2['PRODUTO'].unique())
display(df3['PRODUTO'].unique())
display(df4['PRODUTO'].unique())

array(['GNV'], dtype=object)

array(['GASOLINA A', 'GLP', 'ÓLEO DIESEL'], dtype=object)

array(['ETANOL HIDRATADO'], dtype=object)

array(['ETANOL HIDRATADO', 'GASOLINA COMUM', 'GLP', 'GNV', 'ÓLEO DIESEL',
       'ÓLEO DIESEL S10', 'GASOLINA ADITIVADA'], dtype=object)

In [ ]:
df2.rename(columns={'IMPORTADO / EXPORTADO': 'IMPORTADO', 'DISPÊNDIO / RECEITA' : 'DISPÊNDIO'}, inplace=True)
df3.rename(columns={'IMPORTADO / EXPORTADO': 'IMPORTADO', 'DISPÊNDIO / RECEITA' : 'DISPÊNDIO'}, inplace=True)
display(df1.columns)
display(df2.columns)
display(df3.columns)

Index(['ANO', 'MÊS', 'PRODUTO', 'OPERAÇÃO COMERCIAL', 'IMPORTADO',
       'DISPÊNDIO'],
      dtype='object')

Index(['ANO', 'MÊS', 'PRODUTO', 'OPERAÇÃO COMERCIAL', 'IMPORTADO',
       'DISPÊNDIO'],
      dtype='object')

Index(['ANO', 'MÊS', 'PRODUTO', 'OPERAÇÃO COMERCIAL', 'IMPORTADO',
       'DISPÊNDIO'],
      dtype='object')

In [ ]:
df5 = pd.concat([df1, df2, df3])
df5

      ANO  MÊS           PRODUTO   IMPORTADO    DISPÊNDIO
0    2000  ABR               GNV   131216,79  9577646,746
1    2000  AGO               GNV  239054,743  19376403,08
2    2000  DEZ               GNV  252528,739  21660455,62
3    2000  FEV               GNV   118705,42   9460134,94
4    2000  JAN               GNV  101942,422  8888167,644
..    ...  ...               ...         ...          ...
479  2021  SET  ETANOL HIDRATADO       3,721        10799
492  2022  ABR  ETANOL HIDRATADO       0,528         2650
493  2022  FEV  ETANOL HIDRATADO       0,771         4691
494  2022  JAN  ETANOL HIDRATADO     266,234        65581
495  2022  MAR  ETANOL HIDRATADO       2,732        29269

[1194 rows x 5 columns]

In [ ]:
df4

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120818,2021-04-25,2021-05-01,NORTE,RORAIMA,ÓLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,ÓLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,ÓLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,ÓLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,ÓLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

In [ ]:
df4['UNIDADE DE MEDIDA'].unique()

array(['R$/l', 'R$/13Kg', 'R$/m3'], dtype=object)

In [ ]:
df4[df4['UNIDADE DE MEDIDA'] == 'R$/13Kg']['PRODUTO'].unique()

array(['GLP'], dtype=object)